.div-center {
    display: table;
    margin: 0 auto;
}

.div-center img {
    width: 10rem;
}

.buttons-group {
    display: flex;
}

.buttons-group button:first-child {
    margin-right: 8px;
}

a, div, img, p, button {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.Panel__in {
    background-color: #EBEDE0;
}

.image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.test .Subhead {
    color: black;
}

.inputBorder .FormField__border {
    border-radius: 200px;
}

.simpleCellTest .SimpleCell__description {
    color: black;
    font-size: 14px;
}

.simpleCellTest .SimpleCell__children {
    color: #2C2D2E;
    font-size: 14px;
}